<div class="card" repeat.for="shiur of v2">
    <span class="inner-border"></span>
    <h3 class="title">${shiur.series} - ${shiur.title}</h3>
    <div class="versions-container">
        <div class="version" repeat.for="version of shiur.versions">
            <a goto="shiur-details(${shiur.id})">${version.version} (${version.duration})</a>
            <button type="button" title="Download the shiur" click.delegate="downloadShiur(version.shiur)">&#8891;</button>
        </div>
    </div>
    <div class="author">${shiur.author}</div>
    <div class="date">${shiur.date.toDateString()}</div>
</div>