<div class="wrapper">
    <div class="card" repeat.for="shiur of v2">
        <span class="inner-border"></span>
        <h3>${shiur.series} - ${shiur.title}</h3>
        <h5>
            <div repeat.for="version of shiur.versions">
                <a>${version.version} (${version.duration})</a>
                <button type="button" title="Download the shiur" click.delegate="downloadShiur(version.shiur)">&#x21A7;</button>
            </div>
        </h5>
        <div>${shiur.author}</div>
    </div>
</div>