header {
    background-color: var(--main-bg-color);
    color: var(--inverse-txt-color);
    padding: .75em 1em;
    border-bottom: 5px dotted #efefef;

    a {
        display: flex;
        align-items: center;
        text-decoration-color: var(--inverse-txt-color);
        color: var(--inverse-txt-color);

        fa-icon {
          margin-top: 4px;
          padding: .125em .5em .125em 0;
        }

        h1 {
          margin: 0;
        }
    }
}

main {
    background-color: #efefef;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 1em;
    margin-top: -2.5px;
    overflow: auto;

    .container {
        flex-grow: 1;
        text-align: center;
        padding: 1em;
        background-color: #fff;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        overflow: auto;
    }
}

footer {
    background-color: var(--main-bg-color);
    color: var(--inverse-txt-color);
    font-size: .75em;
    padding-bottom: 1em;
    text-align: center;

    &::before {
      border-bottom: 5px dotted #efefef;
      content: ' ';
      display: flex;
      margin-top: -2px;
    }

    div {
      margin-top: .75em;
    }
}
