<header>
    <a [routerLink]="'/'">
      <fa-icon [icon]="faHome" [size]="'lg'"></fa-icon>
      <h1>TorahIs.Life</h1>
    </a>
    <pd-typeahead [fetcher]="search" (itemClicked)="navigateToItem($event)">
      <ng-template #itemTemplate let-result>
        <h3 class="title">{{result.series}} - {{result.title}}</h3>
        <div class="author">{{result.author.name}}</div>
      </ng-template>
    </pd-typeahead>
</header>

<main>
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</main>

<footer>
  <div>Powered by Pinary Development LLC © {{copyrightYearString}}</div>
</footer>
