.series.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    grid-gap: 32px;
    grid-auto-flow: dense;
    justify-items: center;
    padding: 16px;
}

.card {
  --card-height: 175px;
  --card-width: 230px;
  align-items: center;
//   background: linear-gradient(rgba(179, 156, 95, 1), rgba(150, 117, 24, 1));
  background: linear-gradient(rgba(179, 156, 95, 0.5), rgba(150, 117, 24, 0.75)), no-repeat center url('/assets/img/talmud_scroll.jpg');
  border-radius: 5px;
  box-shadow: 1.5rem 0 2rem #222;
  color: #000;
  display: flex;
  flex-direction: column;
  height: var(--card-height);
  justify-content: center;
  min-width: var(--card-width);
  position: relative;
  text-align: center;
  transition: all .5s ease-in-out;
  width: var(--card-width);
  padding: 1.25em 1em;
}

.card:hover {
    box-shadow: 1.5rem 0 1rem #222;
}

.card > .inner-border {
    bottom: initial;
    border-radius: 5px;
    border: 1px solid var(--inverse-txt-color);
    height: calc(var(--card-height) - 1.25em);
    pointer-events: none;
    position: absolute;
    right: initial;
    width: calc(var(--card-width) - 1.25em);
}

.title {
    display: flex;
    font-size: 1.25rem;
    font-weight: 900;
    margin: 0;
    padding: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title:after {
    content: "";
    background-color: #38362f;
    display: inline-block;
    height: 5px;
    opacity: .01;
    transition: all 0.2s ease-in-out;
    transition-duration: 0.75s;
    width: 5%;
  }
  
  .card:hover>.title:after {
    opacity: 1;
    width: 100%;
  }

.version {
    align-items: center;
    display: flex;
    font-size: .75em;
    justify-content: center;

    font-style: italic;
    transition: all .15s ease-in-out;
}

.version a {
    color: #000;
}

.version a:hover {
    color: #38362f;
}

.version button {
    margin: .25em 0.5em;
    padding: 0 0.66em;
    font-size: 1em;
    font-weight: 900;
}

.versions-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.author {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.date {
    font-size: .75rem;
}

.series.title {
    position: sticky;
    top: 0;
    // background-color: rgb(150, 117, 24);
    background-color: var(--main-bg-color);
    color: #fff;
    border-top: 1px dotted #fff;
    z-index: 10;
}