:host {
    --card-height: 175px;
    --card-width: 230px;
    align-items: center;
    background: linear-gradient(rgba(179, 156, 95, 0.5), rgba(150, 117, 24, 0.75)), no-repeat center url('/assets/img/talmud_scroll.jpg');
    border-radius: 5px;
    box-shadow: 1.5rem 0 2rem #222;
    color: #000;
    display: flex;
    flex-direction: column;
    height: var(--card-height);
    justify-content: center;
    min-width: var(--card-width);
    position: relative;
    text-align: center;
    transition: all .5s ease-in-out;
    width: var(--card-width);
    padding: 1.25em 1em;

    &:hover {
        box-shadow: 1.5rem 0 1rem #222;
    }
    
    > .inner-border {
        bottom: initial;
        border-radius: 5px;
        border: 1px solid var(--inverse-txt-color);
        height: calc(var(--card-height) - 1.25em);
        pointer-events: none;
        position: absolute;
        right: initial;
        width: calc(var(--card-width) - 1.25em);
    }
}
