<!DOCTYPE html>
<html>

<head>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-129663449-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-129663449-2');
  </script>

  <meta charset="utf-8">
  <title>Torah is Life</title>
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
  <base href="/">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
  <style>
    :root {
  --main-bg-color-rgb: 31, 23, 1;
  /* https://github.com/sass/node-sass/issues/2251#issuecomment-365861645 */
  --main-bg-color: RGB(var(--main-bg-color-rgb));
  --inverse-txt-color: #dad8d0;

  --base-fnt-size: 16px;
}

* {
  box-sizing: border-box;
  font-family: 'Ubuntu', serif;
}

body {
  display: flex;
  flex-direction: column;
  font-size: var(--base-fnt-size);
  height: 100vh;
  margin: 0;
}

header {
  background-color: var(--main-bg-color);
  color: var(--inverse-txt-color);
  padding: .75em 1em;
}

header a {
  text-decoration-color: var(--inverse-txt-color);
}

header h1 {
  color: var(--inverse-txt-color);
  margin: 0;
}

app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow:auto;
}

au-viewport[name='main'] {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}


footer {
  background-color: var(--main-bg-color);
  color: var(--inverse-txt-color);
  font-size: .75em;
  padding: .75em 1em;
  text-align: center;
}
  </style>
</head>

<body>
  <header>
    <a href="/"><h1>TorahIs.Life</h1></a>
  </header>

  <app></app>

  <footer>Powered by Pinary Development LLC © 2020</footer>
</body>

</html>
