<pd-card *ngFor="let media of collection">
    <h3 class="title">{{media.series}} - {{media.title}}</h3>
    <div class="versions-container">
        <div class="version" *ngFor="let version of media.versions">
            <a [routerLink]="['/audio', media.id]">{{version.version}} ({{version.duration}})</a>
            <button type="button" title="Download the shiur" (click)="download(version.shiur)">&#8891;</button>
        </div>
    </div>
    <div class="author">{{media.author.name}}</div>
    <div class="date">{{media.date.toDateString()}}</div>
</pd-card>
