.current-time {
    width: 100%;
}

.controls button {
    display: flex;
    flex-direction: column;

    border-radius: 5px;
    border: 1px solid transparent;
    padding: 5px 10px;
    font-size: .8em;
    min-width: 100px;

    flex: 1 1 5em;
    margin: .5rem;
    box-shadow: 0 .75rem .5rem -.5rem hsl(57, 0%, 37%);
    cursor: pointer;
    transition: all .5s;
}

.controls button:hover,
.controls button:focus {
    background-color: rgba(179, 156, 95, 0.5);
    box-shadow: 0 .75rem .5rem -.5rem rgba(179, 156, 95, 0.5);
}

.icon {
    font-style: normal;
}

.controls {
    display: flex;
    flex-wrap: wrap;
}


/* .seek::before {
    content: "15";
    color: #aaa;
    position: absolute;
    margin-left: 4px;
    border: 1px solid #aaa;
    border-radius: 50%;
    font-size: 12px;
} */

.play {
    margin-right: 1em;
    flex: 3 1 20em;
}

.volume {
    display: flex;
    align-items: center;
}

.volume i {
    line-height: 1em;
}